.Contact_text
{
 clear:both;
 float:left;
 width:inherit;
 margin-top:30px;
 margin-bottom:-10px;
 padding:6px 0px 8px;
 text-align:center;
 color:#06F;
 font-family:"Comic Sans MS", cursive;
 font-size:23px;
 border-bottom:2px solid #06f;
 border-top:2px solid #06f;
}

.form_Contact
{
 clear:both;
 float:left;
 margin-left:10%;
 margin-top:30px;
}

.form_Contact td
{
 color:#06F;
 font-family:"Comic Sans MS", cursive;
 font-size:18px;
 height:60px;
 width:130px;
 padding-left:10px;
}

.form_Contact table input
{
 padding:3px;
 font-family:"Comic Sans MS", cursive;
 font-size:15px;
// border:1px solid #00f;
 background-color:#06f;
 color:#fff;
 border:0px;
 box-shadow:-1px -1px 1px #000;

}

.form_Contact table textarea
{
 padding:3px;
 font-family:"Comic Sans MS", cursive;
 font-size:15px;
 margin-top:20px;
 background-color:#06f;
 color:#fff;
 border:0px;
 box-shadow:-1px -1px 1px #000;

}

.form_Contact .required
{
 font-family:"Comic Sans MS", cursive;
 font-size:16px;
 color:#000;
 width:auto;
}


#submit_Contact
{
 clear:both;
 float:left;
 margin-top:30px;
 margin-left:150px;
 border:0px;
 background-color:#06f;
 font-family:"Comic Sans MS", cursive;
 font-size:20px;
 color:#fff;
 padding:6px 30px 8px;
 box-shadow:-1px -1px 1px #000;
//box-shadow:2px 3px 3px #000;
}

#submit_Contact:hover
{
 text-shadow:-2px -2px 3px #000;
 box-shadow:-1px -1px 1px #000;
 cursor:pointer;
}

.contact_div
{
 float:right;
 margin-top:50px;
 box-shadow:-1px -1px 1px #000;
 width:300px;
 //height:180px;
 padding:0px 20px 10px;
 background-color:#06f;
}

.contact_div p
{
 padding:0px;
 color:#FFF;
 font-family:"Comic Sans MS", cursive;
 font-size:15px;
}
